.add-review {

  &.site__form {

    .add-review__inline {
      margin-bottom: 17px;

      .rate {
        margin: 12px 0;
      }
    }
  }
}
@media (min-width: $phone-landscape) {
  .add-review {

  }
}
@media (min-width: $tablet-portrait) {
  .add-review {

    &__btn {
      padding: 11px 3px;
      text-align: right;
    }

    &.site__form {

      &-row {
        margin-bottom: 49px;
      }

      textarea {
        height: 140px;
      }

      .add-review__inline {
        display: flex !important;
        align-items: center;
        margin-bottom: 26px;

        label { margin: 0 }

        .rate {
          margin: 0 0 0 26px;
        }
      }
    }

    &__btn {
      display: flex;
      justify-content: flex-end;
      padding: 19px 0 8px;
    }
  }
}
@media (min-width: $tablet-landscape) {
  .add-review {

  }
}
@media (min-width: $desktop) {
  .add-review {

  }
}

