.book {

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
  }

  &__next,
  &__prev {
    transition: opacity .3s ease-in-out;
  }

  &__avatar {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 45px;

    &-pic {
      width: 91px;
      height: 91px;
      margin-right: 29px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/default-avatar.png");
    }
  }

  &__checkbox {
    margin-bottom: 12px;
  }

  .site__form-justify {

    .websters-select {
      width: 203px;
      font-size: 16px;
      @include main-font();

      &:first-child { width: 113px }
      &:last-child { width: 138px }

      &__item {
        padding: 0 20px 0 24px;
      }

      &__arrow {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        width: 9px;
        height: 13px;
        transform: translate(0, -50%) rotate(90deg);
        background: url("../img/arrowGrey.svg") no-repeat;
        content: '';
      }

      &__popup {

        li {
          padding: 10px 20px 10px 24px;

          &:before,
          &:after { display: none }
        }
      }
    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;
    padding-top: 60px;
  }
  .swiper-slide {
    height: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .swiper-slide-active {
    height: auto;
    opacity: 1;
    visibility: visible;
    pointer-events: fill;
  }

  .swiper-pagination-progress {
    display: flex;
    height: 8px;
    background-color: #ebebeb;

    .swiper-pagination-progressbar {
      z-index: 1;
      background-color: #8cc5ff;
    }

    .steps {
      position: relative;
      z-index: 2;
      border-color: #fff;
      border-style: solid;
      border-width: 0 2px;
    }
  }

  .swiper-button-disabled.book__prev {
    opacity: 0;
    pointer-events: none;
  }
}
@media (min-width: $phone-landscape) {
  .book {

  }
}
@media (min-width: $tablet-portrait) {
  .book {

    .site__form {
      height: 180px;
    }
  }
}
@media (min-width: $tablet-landscape) {
  .book {

  }
}
@media (min-width: $desktop) {
  .book {

  }
}

