.btn {
  overflow: hidden;
  position: relative;
  display: inline-block;
  padding: 23px 30px 20px;
  border: 3px solid #efefef;
  border-radius: 30px;
  background-color: #fff;
  color: #090909;
  font-size: 12px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  transition: background .3s ease-in-out;
  @include main-font-bold();

  &:hover {
    background-color: #efefef;
  }

  &.btn_color {
    padding: 3px;
    border: none;
    will-change: transform;

    &:before {
      width: 150%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) rotate(60deg);
      padding-top: 150%;
      z-index: 1;
      background: rgb(129,190,254);
      background: -moz-linear-gradient(left, rgba(129,190,254,1) 25%, rgba(255,128,128,1) 75%);
      background: -webkit-linear-gradient(left, rgba(129,190,254,1) 25%,rgba(255,128,128,1) 75%);
      background: linear-gradient(to right, rgba(129,190,254,1) 25%,rgba(255,128,128,1) 75%);
      transition: transform .3s ease-in-out;
      content: '';
    }

    span {
      display: block;
      position: relative;
      padding: 20px 27px 17px;
      z-index: 2;
      border-radius: 30px;
      background-color: #fff;
      transition: background .3s ease-in-out;
    }


    &:hover {

      &:before {
        transform: translate(-50%,-50%) rotate(240deg);
      }
      span {
        background-color: transparent;
      }
    }
  }

  &.btn_icon {

    span {
      display: flex;
      align-items: center;
      padding: 20px 22px 17px;

      i {
        margin-left: 20px;

        svg {
          width: 9px;
          height: 13px;
          fill: #cacaca;
          transition: fill .3s ease-in-out;
        }
      }
    }

    &:hover {

      svg { fill: #090909 }
    }
  }
}
@media (min-width: $phone-landscape) {
  .btn {

  }
}
@media (min-width: $tablet-portrait) {
  .btn {

  }
}
@media (min-width: $tablet-landscape) {
  .btn {
    padding: 23px 39px 20px;

    &.btn_color {

      span {
        padding: 20px 36px 17px;
      }
    }

    &.btn_icon {

      span {
        padding: 20px 31px 17px;
      }
    }
  }
}
@media (min-width: $desktop) {
  .btn {

  }
}