.btn {
  overflow: hidden;
  position: relative;
  display: inline-block;
  padding: 23px 39px 20px;
  border: 3px solid #efefef;
  border-radius: 30px;
  background-color: #fff;
  color: #090909;
  font-size: 12px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  transition: background .3s ease-in-out;
  @include main-font-bold();

  &:hover {
    background-color: #efefef;
  }

  &.btn_color {
    padding: 3px;
    border: none;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      z-index: 1;
      background: rgb(129,190,254);
      background: -moz-linear-gradient(left, rgba(129,190,254,1) 50%, rgba(255,128,128,1) 100%);
      background: -webkit-linear-gradient(left, rgba(129,190,254,1) 50%,rgba(255,128,128,1) 100%);
      background: linear-gradient(to right, rgba(129,190,254,1) 50%,rgba(255,128,128,1) 100%);
      content: '';
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      z-index: 1;
      background: rgb(129,190,254);
      background: -moz-linear-gradient(left, rgba(129,190,254,1) 0%, rgba(255,128,128,1) 70%);
      background: -webkit-linear-gradient(left, rgba(129,190,254,1) 0%,rgba(255,128,128,1) 70%);
      background: linear-gradient(to right, rgba(129,190,254,1) 0%,rgba(255,128,128,1) 70%);
      content: '';
    }

    span {
      display: block;
      position: relative;
      padding: 23px 39px 20px;
      z-index: 2;
      border-radius: 30px;
      background-color: #fff;
      transition: background .3s ease-in-out;
    }


    &:hover span {
      background-color: #efefef;
    }
  }
}
@media (min-width: $phone-landscape) {
  .btn {

  }
}
@media (min-width: $tablet-portrait) {
  .btn {

  }
}
@media (min-width: $tablet-landscape) {
  .btn {

  }
}
@media (min-width: $desktop) {
  .btn {

  }
}