.list {
  max-width: 975px;
  margin: 0 auto 30px;
  padding: 30px 0 0;

  &__head {
    padding: 20px 0;

    &-title {
      display: block;
      margin-bottom: 20px;
      font-size: 28px;
      color: rgb(196, 196, 196);
      line-height: 0.542;
      @include main-font-bold();
    }
  }

  &__filter {
    text-align: center;

    &-wrap {
      padding: 20px 0;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  &__item {
    display: block;
    width: 292px;
    margin: 0 calc((100% - 292px)/2) 42px;

    &-description {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px 29px;
      font-size: 14px;
      line-height: 1.6;
      opacity: 0;
      color: #fff;
      background-color: rgba(0,0,0,.8);
      transition: transform .3s ease-in-out, opacity .3s ease-in-out;

      .thumbnail {
        margin: 0 auto 10px;
      }

      strong {
        display: block;
        margin-bottom: 5px;
      }
    }

    &-arrow {
      @include absoluteCenterX();
      bottom: 12px;
      width: 46px;
      height: 46px;

      svg {
        fill: #fff;
      }
    }

    &:hover {

      .list__item-description {
        opacity: 1;
        transform: translate(0);
      }
    }

    &-pic {
      display: block;
      overflow: hidden;
      position: relative;
      height: 355px;
      margin-bottom: 17px;
      border-radius: 2px;
      background-color: #fff;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-info {

      dt {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        color: rgb(6, 6, 6);
      }

      dd {
        font-size: 14px;
        color: #c3c3c3;
        line-height: 1.714;
        @include main-font-bold();
      }
    }
  }

  &__loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    letter-spacing: 3px;
    color: rgb(196, 196, 196);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.714;
    text-align: center;

    img {
      display: block;
      margin-bottom: 5px;
    }
  }
}
@media (min-width: $phone-landscape) {
  .list {

  }
}
@media (min-width: $tablet-portrait) {
  .list {

    &__head {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 42px 0;

      &-title {
        padding: 7px 0 0;
        font-size: 48px;
      }
    }

    &__item {
      margin: 0 calc((100%/2 - 292px)/2) 42px;
    }
  }
}
@media (min-width: $tablet-landscape) {
  .list {
    margin-bottom: 106px;
    padding: 0;

    &__filter {

      &-wrap {
        display: flex;
        justify-content: space-around;
        max-width: 725px;
        margin: 0 auto;
        padding: 41px 0 64px;
      }
    }

    &__wrap {
      margin-bottom: 61px;
    }

    &__item {
      margin: 0 0 42px calc((100%/3 - 292px)*3/2);

      &:nth-child(3n + 1) {
        margin-left: 0;
      }
    }
  }
}
@media (min-width: $desktop) {
  .list {

  }
}

