.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  height: 100vh;
  min-height: 500px;
  padding: 85px 15px 15px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;

  &_main {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    margin-bottom: -20vh;

    .page-title__triangle {
      width: 100%;
      height: auto;
      margin-top: -10px;
    }

    .page-title__wrap {
      max-width: 800px;
      margin-bottom: 200px;
      @include main-font-bold();
      font-size: 30px;
      color: rgb(255, 255, 255);
      line-height: 1.121;
    }

    .search {
      @include absoluteCenterX();
      top: 100%;
      margin-top: 100px;
    }
  }

  &__wrap {
    position: relative;
    max-width: 500px;
    color: #fff;
    font-size: 14px;

    h1 {
      margin-bottom: 15px;
      font-size: 30px;
      @include main-font-bold();
    }

    p { line-height: 22px }
  }

  &__triangle {
    @include absoluteCenter();
    width: 405px;
    height: 345px;
    pointer-events: none;
  }
}
@media (min-width: $phone-landscape) {
  .page-title {

  }
}
@media (min-width: $tablet-portrait) {
  .page-title {

  }
}
@media (min-width: $tablet-landscape) {
  .page-title {
    height: auto;
    min-height: 623px;
    padding: 69px 20px 20px;

    &__wrap {
      font-size: 20px;

      h1 {
        margin-bottom: 21px;
        font-size: 48px;
      }

      p { line-height: 30px }
    }

    &_main {
      -webkit-clip-path: polygon(100% 0, 100% 78%, 50% 100%, 0 78%, 0% 0%);
      clip-path: polygon(100% 0, 100% 78%, 50% 100%, 0 78%, 0% 0%);
      margin-bottom: -22%;

      .page-title__triangle {
        width: 110%;
        margin-top: 24px;
      }

      .page-title__wrap {
        max-width: 800px;
        @include main-font-bold();
        font-size: 58px;
        color: rgb(255, 255, 255);
        line-height: 1.121;
      }

      .search {
        margin-top: 40px;
      }
    }
  }
}
@media (min-width: $desktop) {
  .page-title {

    &_main {
      height: 910px;
      justify-content: flex-start;
      padding-top: 302px;

      .page-title__triangle {
        width: 133%;
        margin-top: -45px;
      }
    }
  }
}

