.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  padding: 85px 15px 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;

  &_main {

    .page-title__wrap {
      max-width: 800px;
      @include main-font-bold();
      font-size: 58px;
      color: rgb(255, 255, 255);
      line-height: 1.121;
    }
  }

  &__wrap {
    max-width: 500px;
    margin: 0 auto;
    color: #fff;
    font-size: 14px;

    h1 {
      margin-bottom: 15px;
      font-size: 30px;
      @include main-font-bold();
    }

    p { line-height: 22px }
  }

  &_triangle {

    .page-title__wrap {
      position: relative;

      canvas {
        @include absoluteCenter();
        width: 405px;
        height: 345px;
      }

      &:before {
        @include absoluteCenter();
        width: 405px;
        height: 345px;
        margin-top: -24px;
        box-sizing: border-box;
        background: url("../img/triangle.png") no-repeat center;
        pointer-events: none;
        content: '';
      }

      //&:after {
      //  @include absoluteCenter();
      //  width: 403px;
      //  height: 343px;
      //  box-sizing: border-box;
      //  background: url("../pic/page-title/pic1.jpg") no-repeat center;
      //  background-attachment: fixed;
      //  background-size: cover;
      //  transition: 0.4s cubic-bezier(1, -1, 0, 2);
      //  clip-path: polygon(50% 5%, 0% 100%, 100% 100%);
      //  content: '';
      //}
    }
  }
}
@media (min-width: $phone-landscape) {
  .page-title {

  }
}
@media (min-width: $tablet-portrait) {
  .page-title {

  }
}
@media (min-width: $tablet-landscape) {
  .page-title {
    min-height: 623px;
    padding: 69px 20px 20px;

    &__wrap {
      font-size: 20px;

      h1 {
        margin-bottom: 21px;
        font-size: 48px;
      }

      p { line-height: 30px }
    }
  }
}
@media (min-width: $desktop) {
  .page-title {

  }
}

