.profile {
  padding-bottom: 40px;

  &__cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px 15px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 18px 0 rgba(28, 41, 54, 0.07);
    font-size: 16px;
    color: rgb(147, 147, 147);
    line-height: 1.5;
    @include main-font-bold();

    .thumbnail {
      margin-top: -45px;
      margin-bottom: 24px;
    }

    .rate {
      margin-bottom: 18px;
    }

    &-icon {
      padding: 38px 0 10px;

      svg {
        width: 66px;
        height: 56px;
        fill: #cecece;
      }
    }

    dl {
      margin-bottom: 19px;

      dt {
        margin-bottom: 3px;
      }

      dd {
        @include main-font();
      }
    }

    ul {
      margin-bottom: 25px;

      li {
        margin-bottom: 5px;

        span { color: #000 }
      }
    }
  }

  &__description {
    padding: 15px 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.5;

    h2 {
      padding: 31px 0 6px;
      letter-spacing: .1px;
      @include main-font-bold();
    }

    p {
      margin-bottom: 14px;
    }
  }
}
@media (min-width: $phone-landscape) {
  .profile {

  }
}
@media (min-width: $tablet-portrait) {
  .profile {

  }
}
@media (min-width: $tablet-landscape) {
  .profile {
    display: flex;
    width: 100%;
    max-width: 1005px;
    margin: 0 auto;
    padding-bottom: 111px;

    &__cart {
      width: 420px;
      padding: 0 30px 30px;
    }

    &__description {
      width: calc(100% - 420px);
      padding: 57px 30px 57px 60px;
    }
  }
}
@media (min-width: $desktop) {
  .profile {

  }
}

