.rate {
  width: 150px;
  background: url("../img/star.png") repeat-x left center;

  &__wrap {
    display: block;
    height: 20px;
    background: url("../img/star-active.png") repeat-x left center;
  }
}
@media (min-width: $phone-landscape) {
  .rate {

  }
}
@media (min-width: $tablet-portrait) {
  .rate {

  }
}
@media (min-width: $tablet-landscape) {
  .rate {

  }
}
@media (min-width: $desktop) {
  .rate {

  }
}

