.search-autocomplite {
  margin-bottom: 10px;

  &_localisation {

    .search-autocomplite__inner {

      label {

        svg {
          width: 30px;
          height: 30px;
          margin: 1px 0 0 3px;
        }
      }
    }
  }

  &__inner {
    position: relative;
    width: 235px;
    height: 50px;
    margin: 0 auto;
    padding: 0 10px 0 54px;
    font-size: 15px;
    color: #4e4e4e;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(209, 209, 209);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    @include main-font-bold();

    label {
      position: absolute;
      width: 54px;
      top: 0;
      bottom: 0;
      left: 0;
      text-indent: -10000px;

      svg {
        @include absoluteCenter();
        width: 21px;
        height: 21px;
        fill: #e0e0e0;
      }

    }

    input {
      border: none;
      height: inherit;
      width: 100%;
      margin-top: -2px;
      @include main-font-bold();
      font-size: 15px;
      color: #4e4e4e;
      background-color: transparent;

      &::-webkit-input-placeholder {
        color: #4e4e4e;
      }
      &::-moz-placeholder {
        color: #4e4e4e;
      }
      &:-ms-input-placeholder {
        color: #4e4e4e;
      }
      &:-moz-placeholder {
        color: #4e4e4e;
      }
    }

  }

  &__list-btn {
    position: absolute;
    width: 51px;
    height: 100%;
    top: 0;
    right: 0;
    border: none;
    padding: 4px 2px 0 0;
    background: transparent;
    transition: background .3s ease-in-out;

    svg{
      width: 15px;
      height: 15px;
      fill: #b02e1f;
    }

  }

  &__result {

    div {
      padding: 9px 10px 8px 12px;
      display: inline-block;;
      margin-right: 10px;
      margin-bottom: 5px;
      border-radius: 5px;
      background: #fff;
      @include main-font();
      font-size: 15px;
      color: #4e4e4e;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }

    &-close {
      vertical-align: top;
      display: inline-block;
      position: relative;
      top: 2px;
      width: 12px;
      height: 12px;
      margin-left: 10px;
      transition: transform .3s ease-in-out;
      transform: rotate(45deg);
      cursor: pointer;

      &:before,
      &:after{
        content: '';
        position: absolute;
        background-color: #cccfd6;
      }

      &:before{
        left: 50%;
        width: 2px;
        height: 100%;
        margin-left: -1px;
      }

      &:after{
        top: 50%;
        width: 100%;
        height: 2px;
        margin-top: -1px;
      }

      &:hover {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }

  .search-autocomplite__list {
    display: none;
  }

}

.search-autocomplite__list {
  position: absolute;
  z-index: 3;
  display: block;
  overflow: hidden;
  max-height: 307px;
  height: auto;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
  font-size: 15px;
  color: #4e4e4e;
  background-color: #fff;
  @include main-font();

  &_hidden{
    opacity: 0;
    height: 0;
  }

  li {
    overflow: hidden;
    position: relative;
    padding: 10px 20px;
    transition: background 300ms ease-in-out, color 300ms, ease-in-out;
    cursor: pointer;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-radius: 0 0 3px 3px;
    }

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 4px;
      background: #ccc;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      content: '';
      transition: transform .3s ease-in-out;
    }
    
    &.hover {
      color: #000;

      &:before {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }

    &.active {
      color: #4e4e4e;

      &:before {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }

    &.filtered {
      display: none;
    }

    &.hidden {
      display: none;
    }
  }

}

@media (min-width: $tablet-portrait) {

  .search-autocomplite {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-landscape) {

  .search-autocomplite {

  }

}

@media (min-width: $desktop) {
  .search-autocomplite {

    &__list-btn svg{
      fill: #fff;
    }

    &__result {

      div {
        -webkit-transition: background-color .3s ease, color .3s ease;
        transition: background-color .3s ease, color .3s ease;

        .search-autocomplite__result-close {

          &:before, &:after {
            -webkit-transition: background-color .3s ease;
            transition: background-color .3s ease;
          }

        }

        &:hover{
          background-color: #b02e1f;
          color: #fff;

          .search-autocomplite__result-close{

            &:before, &:after{
              background-color: #fff;
            }

          }

        }

      }

    }

  }
}
