.websters-select {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 205px;
  height: 50px;
  margin-bottom: 15px;
  font-size: 15px;
  color: #4e4e4e;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(209, 209, 209);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  @include main-font-bold();


  &_opened {

    .websters-select__arrow {

    }
  }

  &__arrow{
    display: none;
  }

  &__item {
    overflow: hidden;
    @include absoluteCenterY();
    left: 0;
    right: 10px;
    padding: 0 0 0 54px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    pointer-events: none;
  }

  &_mobile {

    select {
      position: absolute;
      top: 0;
      bottom: -1px;
      left: 1px;
      width: 100%;
    }

  }

  &_custom {

    select {
      position: absolute;
      left: -100000px;
    }

  }

  &__popup {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    font-size: 16px;
    color: #4e4e4e;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(209, 209, 209);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    @include main-font();

    ul {
      z-index: 1;
    }

    li {
      position: relative;
      overflow: hidden;
      padding: 10px 20px 10px 57px;
      cursor: pointer;
      white-space: nowrap;

      &:before {
        @include absoluteCenterY();
        left: 30px;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        box-sizing: border-box;
        border: 1px solid #d1d1d1;
        content: '';
      }

      &:after {
        @include absoluteCenterY();
        left: 34px;
        width: 12px;
        height: 12px;
        opacity: 0;
        border-radius: 2px;
        box-sizing: border-box;
        background-color: #8cc5ff;
        content: '';
      }

      &:hover {
        background: #8cc5ff;
      }

      &.active {

        &:after { opacity: 1 }
      }
    }
  }
}

.notes + .websters-select__item {

  &:before {
    @include absoluteCenterY();
    left: 10px;
    width: 34px;
    height: 34px;
    background: url("../img/icon-notes.svg") no-repeat center;
    background-size: contain;
    content: '';
  }
}
